.gaeb-edit {
    width: 400px;
    
    text-align: left;
    vertical-align: top;
    display:inline-block;
}

#ql-editor-1 {
    min-height: 400px;
}

#gaeb-toolbar {
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

.gaeb-short-block {
    padding: 2px 5px 2px 5px;
}

#gaeb-shortcode {
    border: 0px;
    font-size: 12px;
    color: #666;
    font-weight: bold;
}
#gaeb-prefix {
    color: #999;
    font-size: 12px;
}

.gaeb-saved {
    display: inline-block;
    width: 200px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #aaa;
}

.gaeb-post {
    display: block;
    padding: 10px 0px 0px 10px;
}

.gaeb-date {
    display: block;
}

.gaeb-name {
    display: block;
}

.gaeb-title-block {
    margin-bottom: 3px;
}

.gaeb-cover {
    float: right;
}

.gaeb-clear {
    clear: both;
}

#gaeb-cover-clear {
    float: right;
}

#gaeb-cover-preview {
    float:right;
    display: block;
    height: 56px;
    width: 56px;
    margin: 5px;
    border: 1px solid #aaa;
}

.gaeb-cover-preview {
    display: block;
    height: 56px;
    width: 56px;
    background-size: cover;
}

#gaeb-submit {
    float: right;
}

.gaeb-admin-input {
    width: 70%;
    border: 0px;
    font-size: 18px;
    padding: 5px;
}


#gaeb-error {
    background-color: #FF7E79;
    color: #000;
    padding: 5px 10px;
    display:none;
}

#gaeb-published {
    width: 50%;
    border: 0px;
    font-size: 14px;
    padding: 5px;
    color: #999;
}

.gaeb-fli {
    float: left;
    width: 200px;
    padding-right: 10px;
}

.gaeb-flv {
    float: left;
    width: 240px;
    height: 180px;
    padding-right: 10px;
}

.gaeb-fri {
    float: right;
    width: 200px;
    padding-left: 10px;
}

.gaeb-editpanel {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}

.gaeb-composer {
    min-height: 700px;
    border: 1px solid #aaa;
    background-color: #fff;
}

.gaeb-savepanel {
    padding: 5px;

    text-align: center;
}
.gaeb-savepanel button {
    width: 60px;
}
